


img{
    height: 2vh;
}

header .jumbotron {
    background-color: #0a3d62;
    color: white;
    text-align: center;
    font-size: 2rem;
    border-radius: 0px;
}

label[for="time"], label[for="locks"]{
    font-size: 1.5rem;
    padding: 10px;
}

form[class="form-inline"]{
    margin-left: auto;
    margin-right: auto;
}


.btn-success{
    width: 45%;
    margin: 1rem;
    font-size: 1.2rem;
/*    margin: auto;*/
}


.btn-danger{
    width: 45%;
    margin: 1rem;
    font-size: 1.2rem;
/*    margin: auto;*/
}

.btn-info{
    background-color: white;
    color: black;
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
}

#lock_area{
    margin-top: 2rem;
}

#lock_area img{
    margin: 0.5rem;
}

#flow-buttons{
    display: block;
    text-align: center;
    margin: auto;
}

#flow-buttons button{
    width: 40%;
}

#locks{
    width: 45%;
}

#time{
    width: 40%;
}


.btn-success, .btn-danger {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}


/*
button{
    margin-left: 1rem;
    margin-right: 1rem;
}



button {
  position: relative;
  display: block;
  margin: 30px auto;
  padding: 0;
  overflow: hidden;
  border-width: 0;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 1px 4px rgba(0, 0, 0, .6);
  background-color: #2ecc71;
  color: #ecf0f1;
  transition: background-color .3s;
}

button:hover, button:focus {
  background-color: #27ae60;
}

button > * {
  position: relative;
}

button {
  display: block;
  padding: 12px 24px;
}

button {
  content: "";
  
  position: absolute;
  top: 50%;
  left: 50%;
  
  display: block;
  width: 0;
  padding-top: 0;
    
  border-radius: 100%;
  
  background-color: rgba(236, 240, 241, .3);
  
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

button:active:before {
  width: 120%;
  padding-top: 120%;
  
  transition: width .2s ease-out, padding-top .2s ease-out;
}*/
